@keyframes instaColor{
    0%{
        color: #405DE6;
    }
    10%{
        color: #5B51D8;
    }
    20%{
        color: #833AB4;
    }
    30%{
        color: #C13584;
    }
    40%{
        color: #E1306C;
    }
    50%{
        color: #FD1D1D;
    }
    60%{
        color: #F56040;
    }
    70%{
        color: #F77737;
    }
    80%{
        color: #FCAF45;
    }
    90%{
        color: #FFDC80;
    }
    100%{
        color: #405DE6;
    }    
}
::selection{
    color: #ff0000;
}
*, html{
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}
/*First face of my site (INDEX)*/
header{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: #ffffff;
    font-weight: 500;
}
.zoom{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}
.zoom img{
    content: url(/img/bg.jpeg);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.owner{
    padding: 20px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0px;
}
.shortcutList-index{
    text-align: right;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: absolute;
    right: 0px;
    padding: 20px;
    margin-right: 1px;
    margin-bottom: 5px;
    letter-spacing: 5px;
}
.indexList{
    color: #ffffff;
    text-transform: uppercase;
}
.indexList:hover{
    color: #ff0000;
}
.shortcutList-social{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: absolute;
    bottom: 0px;    
    padding: 20px;
    letter-spacing: 5px;
}
.socialList{
    color: #ffffff;
    text-transform: uppercase;
}
.socialList:hover{
    text-decoration: underline;
}
#Y{
    color: #ff0000;
}
#T{
    color: #a200ff;
}
#R{
    color: #ff6600;
}
#I{
    animation: instaColor infinite 5s;
}
/*Responsive*/
@media only screen and (max-width: 970px){
    .intro{
        font-size: 50px;
    }
}
@media only screen and (max-width: 500px){
    .intro{
        font-size: 25px;
    }
    .zoom img{
        content: url(/img/bg-mo.jpeg);
    }
}
@media only screen and (max-width: 250px){
    .intro{
        font-size: 20px;
    }
}
@media only screen and (max-width: 310px){
    .owner{
        padding-right: 0px;
    }
    .shortcutList-index{
        display: none;
    }
    .shortcutList-social{
        padding-right: 0px;
    }
}
/*Second face of my site (BODY/MAIN)*/
.back{
    display: flex;
    justify-content: center;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}
.bodySite{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    font-weight: 300;
}
.myBio{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 100px;
    padding-top: 0px;
    font-size: 30px;
    font-weight: 400;
}
.wk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 300px;
}
.set{
   width: 100%;
   height: 300px;
   flex-basis: 100%;
   text-align: center;
}
.workSet{
    content: url(/img/pcasa.png);
    margin: 20px;
}
.titlePro{
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 30px;
    margin-bottom: 50px;
}
/*Responsive*/
@media only screen and (max-width: 510px){
    .myBio{
        padding: 50px;
        padding-top: 0px;
        text-align: left;
    }
    .titlePro{
        font-size: 25px;
        letter-spacing: 20px;
        margin-bottom: 40px;
    }
    .set{
        flex-basis: 100%;
    }
    .tableList{
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 330px){
    .myBio{
        font-size: 18px;
        padding: 10px;
        padding-top: 0px;
        padding-right: 0px;
    }
    .titlePro{
        font-size: 20px;
        letter-spacing: 10px;
    }
    .titleSet, .jobList{
        padding: 0px;
        font-size: 15px;
    }
    .boSet, .infoList{
        font-size: 15px;
    }
}
/*Third face of my site (FOOTER/CONTACTS)*/
.ending{
    height: fit-content;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 40px;
    background-color: #000000;
    color: #ffffff;
}
.myInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myInfo p{
    padding-top: 50px;
    font-weight: 500;
}
.socialFooter{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.socialFooter a{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: right;
}
/*Responsive*/
@media only screen and (max-width: 535px){
    .myInfo p{
        padding-top: 25px;
        font-size: 15px;
    }
    .socialFooter a{
        font-size: 15px;
        padding: 0px;
    }
}
@media only screen and (max-width: 340px){
    .myInfo p{
        padding-top: 25px;
        font-size: 10px;
    }
    .socialFooter a{
        font-size: 10px;
    }
}
@media only screen and (max-width: 250px){
    .myInfo p{
        padding-top: 15px;
        font-size: 8px;
    }
    .socialFooter a{
        font-size: 8px;
    }
}
@media only screen and (max-width: 210px){
    .myInfo p{
        padding-top: 5px;
        font-size: 5px;
    }
    .socialFooter a{
        font-size: 5px;
    }
}