@keyframes instaColor{
    0%{
        color: #405DE6;
    }
    10%{
        color: #5B51D8;
    }
    20%{
        color: #833AB4;
    }
    30%{
        color: #C13584;
    }
    40%{
        color: #E1306C;
    }
    50%{
        color: #FD1D1D;
    }
    60%{
        color: #F56040;
    }
    70%{
        color: #F77737;
    }
    80%{
        color: #FCAF45;
    }
    90%{
        color: #FFDC80;
    }
    100%{
        color: #405DE6;
    }    
}
::selection{
    background: none;
    color: #ff0000;
}
*, html{
    scroll-behavior: smooth;
    background: #181818;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
/*Corpo*/
main{
    color: #ffffff;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
/*Sezione Laterale*/
.navSide{
    flex-basis: 0%;
    transition: 0.5s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
}
.navSide.active{
    flex-basis: 20%;
    transition: 0.5s;
}
.sprt{
    color: #e76800;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.btnMenu{
    cursor: pointer;
    display: unset;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    font-weight: 700;
    padding: 0px 10px 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
}
.btnMenu:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 1s;
}
.btnMenu::before{
    content: "+";
}
.sideLink{  
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    color:#ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}
.sideLink:hover{
    color: #000000;
    background-color: #ffffff;
    transition: 0.8s;
}
/*Contenuto*/
.container{
    width: 100%;
    flex-basis: 100%;
}
.title{
    margin-left: 10px;
    width: 100%;
    margin-bottom: 100px;
}
.title h1{
    width: 80%;
    font-size: 80px;
    font-weight: 400;
}
/*ads*/
.ins{
    overflow: hidden;
}
.content{
    font-size: 20px;
    text-align: left;
    margin: 20px;
}
.ctnAmz iframe{
    float: left;
    margin-right: 20px;
}
.content a{
    text-decoration: underline;
    color: #f09c00;
}
.content h2{
    color: #e76800;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pl{
    width: 100%;
    height: fit-content;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.content iframe{
    border-radius: 20px;
    flex-basis: 48%;
    margin: 10px;
    margin-top: 20px;
}
.ctnBook{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bookImg{
    margin: 10px;
    border-radius: 30px;    
    width: 200px;
    height: max-content;
}
.bookImg:hover{
    width: 250px;
}
/*Responsive*/
@media only screen and (max-width: 800px){
    .title h1{
        width: 100%;
        margin-top: 100px;
    }
    .navSide.active{
        flex-basis: 40%;
        transition: 0.5s;
    }
    .content iframe{
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 650px){
    .title h1{
        font-size: 50px;
    }
    .content{
        font-size: 18px;
    }
    .navSide.active{
        flex-basis: 60%;
        transition: 0.5s;
    }
}
@media only screen and (max-width: 320px){
    .navSide.active{
        flex-basis: 100%;
        transition: 0.5s;
    }
    .title h1{
        font-size: 40px;
    }
    .content{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 0px;
    }
    .content iframe{
        float: none;
        margin-right: 0px;
    }
}