@keyframes instaColor{
    0%{
        color: #405DE6;
    }
    10%{
        color: #5B51D8;
    }
    20%{
        color: #833AB4;
    }
    30%{
        color: #C13584;
    }
    40%{
        color: #E1306C;
    }
    50%{
        color: #FD1D1D;
    }
    60%{
        color: #F56040;
    }
    70%{
        color: #F77737;
    }
    80%{
        color: #FCAF45;
    }
    90%{
        color: #FFDC80;
    }
    100%{
        color: #405DE6;
    }    
}
::selection{
    background-color: #000000;
    color: #ffffff;
}
*, html{
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
.loading{
    position: absolute;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    cursor: wait;
}
.textLoad{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
}
/*Responsive*/
@media only screen and (max-width: 970px){
    .textLoad{
        font-size: 50px;
    }
}
@media only screen and (max-width: 500px){
    .textLoad{
        font-size: 25px;
    }
}
@media only screen and (max-width: 250px){
    .textLoad{
        font-size: 20px;
    }
}
/*Testa*/
header{
    color: #000000;
    padding-top: 100px;
    padding-left: 100px;
}
header p{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 400;
}
/*Respomsive*/
@media only screen and (max-width: 500px){
    header{
        padding-top: 50px;
        padding-left: 30px;
    }
}
@media only screen and (max-width: 300px){
    header h1{
        font-size: 30px;
    }
    header p{
        font-size: 15px;
    }
}
/*Corpo*/
main{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 350px;
}
main a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    color: #ffffff;
    background-color: #000000;
    border-radius: 40px;
    font-size: 30px;
}

main a:hover{
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
}

/*Responsive*/
@media only screen and (max-width: 530px){
    main a{
        flex: 100%;
    }
}
/*Coda*/
.socialList{
    text-transform: uppercase;
}
.socialList:hover{
    text-decoration: underline;
}
#Y{
    color: #ff0000;
}
#T{
    color: #a200ff;
}
#R{
    color: #ff6600;
}
#I{
    animation: instaColor infinite 5s;
}
.ending{
    height: fit-content;
    width: 100%;
    margin-top: 40px;
    color: #000000;
}
.myInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myInfo p{
    padding-top: 50px;
    font-weight: 500;
}
.socialFooter{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.socialFooter a{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: right;
}
/*Responsive*/
@media only screen and (max-width: 550px){
    .myInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .myInfo p{
        text-align: center;
        margin: 20px;
    }
    .socialFooter a{
        margin-top: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 270px){
    .myInfo p{
        font-size: 14px;
    }
    .socialFooter a{
        font-size: 16px;
    }
}
