@keyframes fade{
    0%{
        background-color: #ffffff;
        color: #000000;
    }
    25%{
        background-color: #000000;
        color: #ff0000;
    }
    50%{
        background-color: #ff0000;
        color: #00ff00;
    }
    75%{
        background-color: #00ff00;
        color: #0000ff;
    }
    95%{
        background-color: #0000ff;
        color: #ffffff;
    }
    100%{
        background-color: #ffffff;
        color: #000000;
    }

}
::selection{
    color: #000000;
    background-color: #ffffff;
}
*, html{
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.main{
    animation: fade infinite 12s;
    height: 100vh;
    text-align: center;
    cursor: pointer;
}
.main h1{
    font-size: 70px;
    letter-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main p{
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main a{
    color: #000000;
    font-size: 10px;
    font: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main a:hover{
    color: #ffffff;
}